In [1]:
import pandas as pd

In [4]:
pd.read_csv(r"C:\Users\DELL\Desktop\deliar.txt",sep='\t')

    name address  batchno.
0  vijay   delhi       456
1   ravi  indore       567
2  honey  ujjain       345